.textMedium {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111324;
}

.ownerCard {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.ownerCard:hover {
  transform: translateY(-7px);
}

.ownerCardImageContainer {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 5px;
}

.ownerCardImageContainer img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ownerCardContent {
  padding: 20px;
}

.ownerCardTitle {
  margin-bottom: 20px;
  text-align: center;
}

.cardInfo {
  display: flex;
  align-self: end;
  align-items: center;
}
.cardPrice {
  margin: 0 auto;
  padding: 5px 20px;
  background-color: whitesmoke;
  border-radius: 20px;
  color: #7856ff;
}

@media only screen and (max-width: 1000px) {
  .ownerCard {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  .ownerCard {
    grid-column-end: span 12;
  }
}
@media only screen and (max-width: 500px) {
  .ownerCard {
    grid-column-end: span 6;
  }
}
