.sidebar li {
  display: flex;
  margin-bottom: 20px;
}

.sidebar .adminIcons {
  margin-top: -3px;
  margin-right: 5px;
}

.sidebar {
  width: 20%;
  height: 100vh;
  color: black;
  background-color: white;
  border: 1px solid;
}
