.emptyContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  text-align: center;
  color: rgb(105, 105, 105);
}

.isEmptyHeader {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
